@import "tailwindcss";

body{
  width:100%;
  height:100vh;
}

 /* header Css starts from here */
.main-con{
  width:100%;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.2);
}

.nav-f-con{
  width:20%;
}

.nav-s-con{
 width:50%;
}

.nav-s-con li:hover{
   color: rgba(0,0,0,0.5);
}

.nav-s-con button:hover{
  background-color: yellow;
  color: black;
}

/* header css ended here */

/* footer css starts from here */

.footer-main-con{
  width:100%;
  position: absolute;
  bottom: 0;
}

.foot-f-con{
  width:20%;
}

.foot-s-con{
  width:50%;
}

/* footer css ended here */